
input
{
	padding: 0px;
}
.smartspinner
{
	padding-bottom:1px;
	padding-right:15px;
	padding-top:3px;
	border:solid 1px #afafaf;
	background: url(increment-decrement-default.png) no-repeat right;
	background-color:#FFFFFF;
	text-align:center;
	/*vertical-align:middle;*/
	-webkit-border-radius:0px 6px 6px 0px !important;
	-moz-border-radius:0px 6px 6px 0px !important;
	border-radius:0px 6px 6px 0px !important;
	color:#000000;
	font-size:12px;
	font-weight:normal;
}
.smartspinner.up
{
	background: url(increment-pressed.png) no-repeat right;
	background-color:#FFFFFF;
	cursor:pointer;
}
.smartspinner.down
{
	background: url(decrement-pressed.png) no-repeat right;
	background-color:#FFFFFF;
	cursor:pointer;
}
